.item-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.btn-accion {
  background-color: rgb(16, 173, 50);
  border-color: rgb(16, 173, 50);
  transition: all 0.3s ease;
}

.btn-accion:hover {
  background-color: rgb(13, 140, 40);
  border-color: rgb(13, 140, 40);
  transform: translateY(-2px);
}
