<h2 class="noticias text-center p-1" id="noticias">NOTICIAS</h2>
<section class=" rounded d-flex col-12 justify-content-around align-items-start p-3 m-3">
  <div class="noticias-box row w-100 text-center">
    <div class="col-md-4 mb-3">
      <h2 class="fs-4">Buen trabajo del equipo vs Electrocor</h2>
      <img src="assets/imagenes/vs-electrocor.jpg" class="imagen-noticia rounded img-fluid" alt="Partido Electrocor">
    </div>
    <div class="col-md-4 mb-3">
      <h2 class="fs-4">El sábado jugamos a las 12:00 en Las Rozas</h2>
      <img src="assets/imagenes/campo-las-rozas.png" class="imagen-noticia rounded img-fluid" alt="Campo Las Rozas">
    </div>
    <div class="col-md-4 mb-3">
      <h2 class="fs-4">Reunión de familias <br>martes 18:30</h2>
      <img src="assets/imagenes/reunión-de familia.png" class="imagen-noticia rounded img-fluid" alt="Reunión">
    </div>
  </div>
</section>