.img-entrenamiento {
  width: 22vw;
  height: 22vw;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}
img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
