<nav class="navbar sticky-top bg-body-tertiary d-flex">
  <div class="logo-box container-fluid justify-content-around">
    <a class="navbar-brand p-0 mb-1" href="/">
      <img src="assets/escudos/logo-udvillalba.png" class="logo" alt="Logo UD Villalba" />
    </a>
    <div>
      <ul class="menu d-flex list-unstyled gap-5 fw-semibold mb-0">
        <a routerLink="/inicio" class="text-decoration-none text-dark"><li>INICIO</li></a>
        <a routerLink="/jornada" class="text-decoration-none text-dark"><li>JORNADA</li></a>
        <a routerLink="/clasificacion" class="text-decoration-none text-dark"
          ><li>CLASIFICACIÓN</li></a
        >
        <a routerLink="/entrenamiento-extra" class="text-decoration-none text-dark"
          ><li>ENTRENAMIENTO EXTRA</li></a
        >
        <a routerLink="/menu" class="text-decoration-none text-dark"><li>MENÚ</li></a>
        <a routerLink="/merchandising" class="text-decoration-none text-dark"
          ><li>MERCHANDISING</li></a
        >
        <a routerLink="/noticias" class="text-decoration-none text-dark"><li>NOTICIAS</li></a>
        <a routerLink="/login" class="text-decoration-none text-dark"
          ><li class="login-link">LOGIN</li></a
        >
        <a routerLink="/carrito" class="text-decoration-none text-dark">
          <li>
            <i class="bi bi-cart3 fs-4"></i>
          </li>
        </a>
      </ul>
    </div>
    <em class="eslogan fs-5">Un escudo, una ilusión</em>
  </div>
</nav>
