.jornada-box {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
h2 {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}
.foto-infantil,
.foto-rival-img {
  object-fit: cover;
  border-radius: 12px;
}

.foto-infantil {
  width: 300px;
  height: 300px;
  background-color: transparent !important;
}

.foto-rival-img {
  width: 200px;
}

.vs-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.vs {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(16, 173, 50);
}
.peque {
  width: 100%;
  max-width: 500px;
  background-color: #f8f9fa; /* Light grey background to distinguish it inside */
  border-radius: 12px;
}
