<div class="container fade-in mb-5">
  <div class="text-center mb-5">
    <h2 class="text-yellow-brand text-center p-1">ENTRENAMIENTO EXTRA</h2>
  </div>

  <div class="row justify-content-center g-4">
    <div class="col-6 col-md-3 d-flex justify-content-center">
      <div
        class="training-card w-100 bg-white rounded-4 shadow p-3 d-flex flex-column align-items-center"
        routerLink="fuerza"
      >
        <img
          src="assets/entrenamiento/fuerza.png"
          alt="fuerza"
          class="img-fluid img-entrenamiento"
        />
        <h3 class="mt-3 mb-0">Fuerza</h3>
      </div>
    </div>

    <div class="col-6 col-md-3 d-flex justify-content-center">
      <div
        class="training-card w-100 bg-white rounded-4 shadow p-3 d-flex flex-column align-items-center"
        routerLink="velocidad"
      >
        <img
          src="assets/entrenamiento/velocidad.png"
          alt="velocidad"
          class="img-fluid img-entrenamiento"
        />
        <h3 class="mt-3 mb-0">Velocidad</h3>
      </div>
    </div>

    <div class="col-6 col-md-3 d-flex justify-content-center">
      <div
        class="training-card w-100 bg-white rounded-4 shadow p-3 d-flex flex-column align-items-center"
        routerLink="resistencia"
      >
        <img
          src="assets/entrenamiento/resistencia.png"
          alt="resistencia"
          class="img-fluid img-entrenamiento"
        />
        <h3 class="mt-3 mb-0">Resistencia</h3>
      </div>
    </div>

    <div class="col-6 col-md-3 d-flex justify-content-center">
      <div
        class="training-card w-100 bg-white rounded-4 shadow p-3 d-flex flex-column align-items-center"
        routerLink="propiocepcion"
      >
        <img
          src="assets/entrenamiento/propiocepcion.png"
          alt="propiocepcion"
          class="img-fluid img-entrenamiento"
        />
        <h3 class="mt-3 mb-0">Propiocepción</h3>
      </div>
    </div>
  </div>
</div>
