.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
h2 {
  letter-spacing: 2px;
}

.img-entrenamiento {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  max-width: 300px;
  object-fit: cover;
  border-radius: 12px;
}
.training-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.training-card:hover {
  transform: translateY(-5px);
}

.training-card:hover .img-entrenamiento {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
