
<section class="infantil-box">
<img src="assets/imagenes/infantil-femenino.jpg" class="imagen-infantil w-100 object-fit-cover"  alt="Equipo Infantil" />
</section>
<h2 class="jugadoras text-center p-1" id="jugadoras">JUGADORAS</h2>
<section class="rounded d-flex col-12 justify-content-around align-items-start p-3 m-3">
  <div class=" jugadoras-box row w-100 text-center">
    <div class="col-md-4 mb-3">
      <h2 class="fs-4">Helena</h2>
      <img src="https://www.hola.com/horizon/original_aspect_ratio/a89d5f108a27-athenea-castillo-a.jpg" class="imagen-noticia rounded img-fluid" alt="Partido Electrocor">
    </div>
    <div class="col-md-4 mb-3">
      <h2 class="fs-4">Marina</h2>
      <img src="https://hips.hearstapps.com/hmg-prod/images/alexia-putellas-of-fc-barcelona-celebrates-after-the-uefa-news-photo-1644479103.jpg?crop=0.670xw:1.00xh;0.166xw,0&resize=640:*" class="imagen-noticia rounded img-fluid" alt="Campo Las Rozas">
    </div>
    <div class="col-md-4 mb-3">
      <h2 class="fs-4">Paula</h2>
      <img src="https://i.pinimg.com/736x/a5/d3/33/a5d333aec4746e45a0c12e260692144c.jpg" class="imagen-noticia rounded img-fluid" alt="Reunión">
    </div>
  </div>
</section>

<h2 class="noticias text-center p-1" id="noticias">NOTICIAS</h2>
<section class=" rounded d-flex col-12 justify-content-around align-items-start p-3 m-3">
  <div class="noticias-box row w-100 text-center">
    <div class="col-md-4 mb-3">
      <h2 class="fs-4">Buen trabajo del equipo vs Electrocor</h2>
      <img src="assets/imagenes/vs-electrocor.jpg" class="imagen-noticia rounded img-fluid" alt="Partido Electrocor">
    </div>
    <div class="col-md-4 mb-3">
      <h2 class="fs-4">El sábado jugamos a las 12:00 en Las Rozas</h2>
      <img src="assets/imagenes/campo-las-rozas.png" class="imagen-noticia rounded img-fluid" alt="Campo Las Rozas">
    </div>
    <div class="col-md-4 mb-3">
      <h2 class="fs-4">Reunión de familias <br>martes 18:30</h2>
      <img src="assets/imagenes/reunión-de familia.png" class="imagen-noticia rounded img-fluid" alt="Reunión">
    </div>
  </div>
</section>



